/*
 ELEMENTO{
    propiedad: valor;
    */

* {
    margin: 1px;
    padding: 1px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

header ul li a {
    text-decoration: none;
    display: flex;
    margin: 10px;
}

header ul {
    list-style-type: none;
    display: flex;
    margin: 10px;
}

header a {
    display: flex;
    margin: 10px;
}

header img {
    justify-content: flex-start;
    align-items: start;
}

body {    background-color: paleturquoise;text-align: center;}

h1:hover {
    /*  */
    color: red;
    background-color: white;
    margin: 0;
    padding: 0;

}

h1 {
    color: GREEN
}

li {
    COlor: PURPLE
}

td {
    COLOR: GREEN
}

h2 {
    COLOR: GREEN
}

h3 {
    COLOR: PURPLE
}

h4 {
    COLOR: PURPLE
}

h5 {
    COLOR: PURPLE
}

.pestanias a {
    text-align: center;
}

.pestanias ul {
    display: flex;

}

.grid-container {
    border: 1px solid red;

    /* display :grid; */
    display: grid;
    /*grid-template-columns*/
    grid-template-columns: 1;
    /*grid-template-rows*/
    grid-template-rows: 12;
    /*row-gap
        column-gap*/
    /*row-gap:10px;
        column-gap:25px;*/
    /* gap:15px; */
}

.grid-item {
    border: 15px solid yellowgreen;
    margin: 15px;
}

.grid-item-1 {
    background-color: yellow;
    grid-column: auto;


}

.grid-item-2 {
    background-color: yellowgreen;
    grid-column: 100%;
}

.grid-item-3 {

    background-color: yellowgreen;
    grid-column: 100%;


}

.grid-item-4 {background-color: orangered; grid-column: 100%;}
@media only screen and (max-width:425px) {body {background-color: peru;}}
@media only screen and (min-width:426px) and (max-width:768px) {body {background-color: red;}}
@media only screen and (min-width:769px) and (max-width:1100px) { body {background-color: palevioletred;}}